#popup-select-clip.popup.duplicate.clipmarklet-popup{:"data-page-type" => 'duplicate'}
  .heading
    %h2 Add a Clip
  .inner
    %p
      This clip can't be added using the bookmarklet. Please contact support@reclipit.com for further assistance.
